.by-city-id {
  display: grid;
  grid-template-areas: 
  'name' 
  'icon'
  'description'
  'temp';
  justify-items: center;
  align-items: center;
  margin-top: 3em;
}

.form {
  grid-area: form;
  width: 25%;
}
.name {
  grid-area: name;
}
.icon {
  grid-area: icon;
}
.description {
  grid-area: description;
}
.temp {
  grid-area: temp;
}
